<div class="detalle sec">
	<div class="container-detalle">
		<div class="detalle-box">
			<div class="left-box">
				<img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt="">
			</div>
			<div class="right-box">
				<ul>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				    <li><img src="http://1.bp.blogspot.com/-ovbyVzyB6mw/T2IZgCtE7fI/AAAAAAAAOLg/DrVcXHYkSR0/s1600/Diamante%2BHope.jpg" alt=""></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="desc-box" id="text">
    	<h2 id="selected-title">Title</h2>
        <p id="selected-description">Description of the selected item</p>
    </div>
</div>