

<div class="inicio sec">
	<!-- <h2 class="section-title">Bienvenidos</h2> -->
	<div >
		<ul id="carousel">
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image1.jpg"  alt=""/>			
				</a>
					<p class="title">Image 1</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image2.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 2</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image3.jpg"  alt=""/>
				
				</a>  
				<p class="title">Image 3</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>                 
			</li>
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image4.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 4</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image5.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 5</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image6.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 6</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
				<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image7.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 7</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
					<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image8.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 8</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
					<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image9.jpg"  alt=""/>
				
				</a>
				<p class="title">Image 9</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			<li>
					<a href="test-url">
			    <img src="http://bqworks.com/products/3d-carousel/3d-carousel-thumbs/image10.jpg"  alt=""/>
			
				</a>
					<p class="title">Image 10</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			</li>
			
		</ul>


		<div class="desc-box" id="text">
        	<h2 id="selected-title">Title</h2>
            <p id="selected-description">Description of the selected item</p>
        </div>
	</div>
</div>

<script src="js/jquery.mousewheel.js"></script>
<script type="text/javascript">

function onItemSelect(event) {
	
		$('#text #selected-title').html(event.data.title);
		$('#text #selected-description').html(event.data.description);
	}


jQuery(document).ready(function($){
	carousel = $('#carousel').carousel({width: 870, 
										height: 300, 
										itemWidth:120, 
										horizontalRadius:270, 
										verticalRadius:85, 
										resize:false, 
										scaleRatio:0.4,
										autoScroll:true, 
										mouseScroll: true,
										mouseWheel: true,
										linkTarget : '_self',
										itemSelect:onItemSelect,										
        								itemMouseOver:onItemSelect,										
										itemClick: function(e){
											console.log(e);
										}
										});
											 
		carousel.scrollToItem(0);



	});
</script>